			
			<!-- Modal -->
			<div class="modal fade" id="modal-delete" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content text-center">
			      <div class="modal-header d-flex justify-content-center">
			        <h2 class="heading">Advertencia</h2>
			      </div>
			       <!--Body-->
			      <div class="modal-body">

			       	
			        <span class="material-icons" style="font-size: 10rem;">delete_forever</span>

			        <p id="modal-text-name"></p>

			      </div>
			      
			      <div class="modal-footer justify-content-center flex-column flex-md-row">
			        <a href="button" class="btn btn-outline-dark" id="btn_si_delete"> Si </a>
			        <a type="button" class="btn btn-outline-dark" data-dismiss="modal">No</a>
			      </div>
			      
			    </div>
			  </div>
			</div>